<!--The content below is only a placeholder and can be replaced.-->

<h2>List of cars we provide.: </h2>
<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Make</th>
    <th>Model</th>
    <th>4X4</th>
    <th>Price</th>
    <th>Engine type</th>
    <th>Hours power</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>{{car.make}}</td>
    <td>{{car.model | uppercase}}</td>
    <td>{{car.fourByFour ? 'Yes' : 'No'}}</td>
    <td>{{car.calculateTotal() | currency : 'ILS' : true : '4.2-2'}}</td>
    <td>{{car.engine.engineType | uppercase}}</td>
    <td>{{car.engine.hoursPower }}</td>
  </tr>
  </tbody>
</table>

